asgiref==3.7.2
cffi==1.17.1
cryptography==44.0.0
Django==4.2.17
django-admin-numeric-filter==0.1.9
django-admin-rangefilter==0.13.2
django-appconf==1.0.6
django-cryptography==1.1
django-filter==23.5
django-rangefilter==0.9.1
pillow==11.0.0
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.21.0
pytz==2024.2
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2024.1
whitenoise==6.8.2
setuptools==75.6.0