{% extends 'shop/basic.html' %}
{% block title %} My Cart {% endblock %}
{% load static %}
{% block Css %}
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  }
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    }
    
    .btn:hover {
    background-color: #45a049;
    }
    

    
{% endblock %}

{% block searchbar %}
<form class="d-flex"  action="../categories" style="margin-left:20px">
  <input class="form-control" type="search" placeholder="Search" name="search" aria-label="Search"
    style="width: 500px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
  <button type="submit" ><i class="fa fa-search"></i></button>
</form>
{% endblock %}


{% block dropdown %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    Categories
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 0px;border-radius:0px;">
    {% for item in categories %}
    <form action="../categories" method="get">
      <input type="submit" value="{{item}}" name="category"
        style=" padding-left:5px;padding-right:25px;width:100%;text-align:left ;border:0px; font-weight:500;font-size:15px;padding-bottom:5px"
        class="dropdown">
    </form>
    {% endfor %}
  </ul>
</li>
{% endblock %}

{% block signup %}
{% if currentuser == "" %}<a class="nav-link" href="../signin"
  style="text-decoration: none;color:aliceblue;padding-bottom: 10px;padding-left: 0px;">Log in</a>
  <a class="nav-link" href="../createcustomer" style="text-decoration: none;color:aliceblue;padding-bottom: 10px;padding-left: 0px;">Sign in</a>
{% else %}<a class="nav-link" href="../signout"
style="text-decoration: none;color:aliceblue;padding-bottom: 10px;padding-left: 0px;">Sign out</a>
{% endif %} 
{% endblock %}

{% block body %}
<div class="col-25" style="margin-top: 20px;">
  <div class="container">
    <h4>Cart <span style="margin-left: 880px;">Qty</span> <span style="margin-left: 65px;"> Price</span></h4>
    <ul id="items">
    </ul>
    <hr>
    <p>Total <span class="price" style="color:black;margin-left:1000px"><b>&#8377;<span id="totalprice">0</span></b></span></p>
  </div>
</div>
  <form action="../checkout" method="GET" style="margin-left: 105px;padding-right: 105px;">
    <input type="url"  onclick="location.href='../checkout'" style="font-size:20px;font-weight:600;" value = "Checkout" class="btn" readonly>
  </form>
{% endblock %}
{% block sidenavbar %}
<div id="mySidenav" class="sidenav" style="padding-top: 23px;">
  <i class="fa fa-user" style="font-size:24px;float:left;padding-top: 4px;margin-left: 24px;font-weight:600;font-size:25px;margin-right:10px"
    aria-hidden="true"></i>

    {% if currentuser != "" %}
    <a href= "../" style="padding-left:15px;padding-top: 2px;font-weight:600;font-size:20px">Hi!, {{currentuser|truncatewords:1}}</a>
  {% else %}
    <a href="../signin" style="padding-left:15px;padding-top: 2px;font-weight:600;font-size:20px">Hi!, Log in</a>
  {% endif %}
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="padding-left: 0px;margin-left: 0px;">×</a>
  <a href="../myorders" style="padding-right: 100px;padding-top:20px;">My Orders</a>
  <a href="">My Cart</a>
  <a href="../checkout">Checkout</a>
  <a href="" class="cart" onclick="clearcart()">Clear Cart</a>
  <a href="../sale">Sale</a>
  <a href="../contactus">Contact Us</a>
  <a href="../about">About Us</a>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
{% endblock %}
{% block cart_count %}
<li class="nav-item">
  <a href="/shop/mycart" class="nav-link" aria-disabled="true" style="padding-bottom: 25px;"><i class="fa"
      style="font-size:24px;color:aliceblue;padding-left:10px;padding-bottom: 10px;">&#xf07a;</i><span class='badge badge-warning'
      id='lblCartCount'> <span id='cart'>0</span> </span>
  </a>
</li>
{% endblock %}
{% block alert%}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: 0px;">
  <strong>COVID19 UPDATE!</strong><span style="font-size: 15px;"> We deliver products with all safety
    measures.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock %}
{% block currentuser %}
<div style="color:aliceblue; margin-left:20px">{{currentuser}}</div>
{% endblock %}