{% extends 'shop/basic.html' %}
{% block title %} My Orders {% endblock %}
{% load static %}
{% block body %}
{% load shoptemplates %}
<div class="container">
  <div style="margin-top:20px;">
    {% for items in orders %}
    <h5 style="margin-bottom: 25px ;"> Order Id : {{ids|last}}</h5>
    {{ids|pop}}
    <span style="font-size: 19px;font-weight: 500;padding-bottom: 20px;">Quantity</span>
    <span style="margin-left: 435px;font-size: 19px;padding-bottom: 50px;font-weight: 500;">Product</span>
    <span style="float:right;font-size: 19px;font-weight: 500;">Price</span>
    <br>
      {% for item in items %}
      {% for i in item %}
      {% if forloop.counter == 1 %}
      <span style="padding-top: 20px;">{{i}}</span>
      {% elif forloop.counter == 2 %}
      <span style="margin-left: 500px;">{{i}}</span>
      {% elif forloop.counter == 3 %}
      <span style="float:right;">&#8377; {{i}}</span>
      {% endif %}
      {% endfor %}
      <br>
      {% endfor %}
      <hr>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block searchbar %}
<form class="d-flex" action="../categories" style="margin-left:20px">
  <input class="form-control" type="search" placeholder="Search" name="search" aria-label="Search"
    style="width: 500px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
  <button type="submit" class="btn btn-primary cart"><i class="fa fa-search"></i></button>
</form>
{% endblock %}

{% block dropdown %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    Categories
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 0px;border-radius:0px;">
    {% for item in categories %}
    <form action="../categories">
      <input type="submit" value="{{item}}" name="category"
        style=" padding-left:5px;padding-right:25px;width:100%;text-align:left ;border:0px; font-weight:500;font-size:15px;padding-bottom:5px"
        class="dropdown">
    </form>
    {% endfor %}
  </ul>
</li>
{% endblock %}

{% block signup %}
{% if currentuser == "" %}<a class="nav-link" href="../signin"
  style="text-decoration: none;color:aliceblue;padding-bottom: 10px;padding-left: 0px;">Log in</a>
  <a class="nav-link" href="../createcustomer" style="text-decoration: none;color:aliceblue;padding-bottom: 10px;padding-left: 0px;">Sign in</a>
{% else %}<a class="nav-link" href="../signout"
style="text-decoration: none;color:aliceblue;padding-bottom: 10px;padding-left: 0px;">Sign out</a>
{% endif %} 
{% endblock %}

{% block sidenavbar %}
<div id="mySidenav" class="sidenav" style="padding-top: 23px;">
  <i class="fa fa-user" style="font-size:24px;float:left;padding-top: 4px;margin-left: 24px;font-weight:600;font-size:25px;margin-right:10px"
    aria-hidden="true"></i>
  
    {% if currentuser != "" %}
    <a href= "../" style="padding-left:15px;padding-top: 2px;font-weight:600;font-size:20px">Hi!, {{currentuser|truncatewords:1}}</a>
  {% else %}
    <a href="../signin" style="padding-left:15px;padding-top: 2px;font-weight:600;font-size:20px">Hi!, Log in</a>
  {% endif %}
  
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="padding-left: 0px;margin-left: 0px;">×</a>
  <a href="" style="padding-right: 100px;padding-top:20px;">My Orders</a>
  <a href="../mycart">My Cart</a>
  <a href="../checkout">Checkout</a>
  <a href="" class="cart" onclick="clearcart()" >Clear Cart</a>
  <a href="../sale">Sale</a>
  <a href="../contactus">Contact Us</a>
  <a href="../about">About Us</a>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
{% endblock %} 
{% block cart_count %}
<li class="nav-item">
  <a href="/shop/mycart" class="nav-link" aria-disabled="true" style="padding-bottom: 25px;"><i class="fa"
      style="font-size:24px;color:aliceblue;padding-left:10px;padding-bottom: 10px;">&#xf07a;</i><span class='badge badge-warning'
      id='lblCartCount'> <span id='cart'>0</span> </span>
  </a>
</li>
{% endblock %}
{% block alert%}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: 0px;">
  <strong>COVID19 UPDATE!</strong><span style="font-size: 15px;"> We deliver products with all safety
    measures.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock %}
{% block currentuser %}
<div style="color:aliceblue; margin-left:20px">{{currentuser}}</div>
{% endblock %}
