{% extends 'shop/basic.html' %}

{% block title %}About US{% endblock %}
{% block Css %}
a {
text-decoration:none;
color:#262626;
font-weight:500;
}
{% endblock %}
{% block currentuser %}
<div style="color:aliceblue; margin-left:20px">{{currentuser}}</div>
{% endblock %}
{% block searchbar %}
<form class="d-flex" action="../categories" style="margin-left:20px">
  <input class="form-control" type="search" placeholder="Search" name="search" aria-label="Search"
    style="width: 500px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
  <button type="submit" class="btn btn-primary cart"><i class="fa fa-search"></i></button>
</form>
{% endblock %}

{% block dropdown %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    Categories
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 0px;border-radius:0px;">
    {% for item in categories %}
    <form action="../categories">
      <input type="submit" value="{{item}}" name="category"
        style=" padding-left:5px;padding-right:25px;width:100%;text-align:left ;border:0px; font-weight:500;font-size:15px;padding-bottom:5px"
        class="dropdown">
    </form>
    {% endfor %}
  </ul>
</li>
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 60px;margin-top:60px;">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb" style="margin-top:10px; margin-bottom:0px; padding-left:3px">
            <li class="breadcrumb-item" aria-current="page"><a
                    style="text-decoration: none;color:#262626;font-weight:500" href="../">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a
                    style="text-decoration: none;color:#262626;font-weight:500" href="">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:#262626;" >{{product.category}}</li>
            <li class="breadcrumb-item active" aria-current="page" style="color:#262626">{{product.subcategory}}</li>
            <li class="breadcrumb-item active" aria-current="page" style="color:#262626">{{product.brand}}</li>
        </ol>
    </nav>
      <span style=" width:515px;display:flexbox;float:right;margin-top: 50px;margin-right: 150px; word-wrap:break-word">
      <h3 id="namepr{{product.id}}" style="margin-bottom:20px">{{product.product_name}}</h3>
        <span>{{product.desc}}</span>
        {% if product.discount == 0 %}
        <div style="margin-top: 10px;color:#262626;font-weight:600">M.R.P :&#8377;<span id="pricepr{{product.id}}">{{product.price}}</span></div>
        {% if product.stock > 0 %}
        <br>
        <button id="pr{{product.id}}" class="btn btn-primary cart" style="font-size: 15px;padding-left:5px;padding-right:5px;padding-bottom:4px;padding-top:4px;margin-top:10px">Add to cart</button>
        <button id="pr{{product.id}}" class="btn btn-primary cartremove" style="font-size: 15px;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top: 4px;margin-top:10px;margin-left:10px">Remove</button>
        <form action="../checkout" method="GET">
        <button id="" class="btn btn-primary" value="" name="buynow" style="font-size: 15px;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top: 4px;margin-top:10px;display:inline">Buy Now</button>
        </form>
        <div style="color:green;margin-top:5px">In Stock</div>
        <div style="font-size: 15px;">(Inclusive all taxes)</div>
        <span style="color:#262626;font-weight:600">Quantity : <span id='cartremove'>0</span></span>
        {% else %}
        <div style="color: crimson;margin-top:5px">Out of Stock</div>
        {% endif %}
        {% else %}
        <div style="margin-top: 10px;color: crimson;font-weight:600">Special Offer</div>
        <div style="color:#262626;font-weight:600;margin-bottom: 10px;">M.R.P :<strike style="color: #262626;">&#8377;{{product.price}}</strike> <span style="color: crimson;"> <span id="pricepr{{product.id}}">&#8377;{{disprice|stringformat:'d'}}</span> ( {{product.discount}}% off )</span></div>
        {% if product.stock > 0 %}
        <div style="color:green;margin-top:5px">In Stock <span style="color: crimson;" id ="stockavailable"></span></div>
        <div style="font-size: 15px;">(Inclusive all taxes)</div>
        <span style="color:#262626;font-weight:600">Quantity : <span id='cartremove'>0</span></span>
        <br>
        <button id="pr{{product.id}}" class="btn btn-primary cartprod" style="font-size: 15px;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top: 4px; margin-top: 8px;">Add to cart</button>
        <button id="pr{{product.id}}" class="btn btn-primary cartremove" style="font-size: 15px;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top: 4px;margin-top:8px;margin-left:10px;">Remove</button>
        <form action="../checkout" method="GET" style="display: inline;">
        <button id="" class="btn btn-primary" value="" name="buynow" style="font-size: 15px;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top: 4px;margin-top:8px;margin-left: 8px;">Buy Now</button>
        </form>
        {% else %}
        <div style="color: crimson;margin-top:5px">Out of Stock</div>
        {% endif %}
        {% endif %}
      </span>
    </span>
    <img src="/media/{{product.image}}" alt="..." width="360px" height="360px" style="margin-top: 30px;">
</div>
{% endblock %}

{% block signup %}
{% if currentuser == "" %}<a class="nav-link" href="../signin"
  style="text-decoration: none;color:aliceblue;padding-bottom: 10px;padding-left: 0px;">Log in</a>
  <a class="nav-link" href="../createcustomer" style="text-decoration: none;color:aliceblue;padding-bottom: 10px;padding-left: 0px;">Sign in</a>
{% else %}<a class="nav-link" href="../signout"
style="text-decoration: none;color:aliceblue;padding-bottom: 10px;padding-left: 0px;">Sign out</a>
{% endif %} 
{% endblock %}

{% block sidenavbar %}
<div id="mySidenav" class="sidenav" style="padding-top: 23px;">
  <i class="fa fa-user" style="font-size:24px;float:left;padding-top: 4px;margin-left: 24px;font-weight:600;font-size:25px;margin-right:10px"
  aria-hidden="true"></i>
  {% if currentuser != "" %}
  <a href= "../" style="padding-left:15px;padding-top: 2px;font-weight:600;font-size:20px">Hi!, {{currentuser|truncatewords:1}}</a>
{% else %}
  <a href="../signin" style="padding-left:15px;padding-top: 2px;font-weight:600;font-size:20px">Hi!, Log in</a>
{% endif %}
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="padding-left: 0px;margin-left: 0px;">×</a>
    <a href="../myorders" style="padding-right: 100px;padding-top:20px;">My Orders</a>
    <a href="../mycart">My Cart</a>
    <a href="../checkout">Checkout</a>
    <a href="" class="cart" onclick="clearcart()" >Clear Cart</a>
    <a href="../sale">Sale</a>
    <a href="../contactus">Contact Us</a>
    <a href="../about">About Us</a>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
{% endblock %}
{% block cart_count %}
<li class="nav-item">
  <a href="/shop/mycart" class="nav-link" aria-disabled="true" style="padding-bottom: 25px;"><i class="fa"
      style="font-size:24px;color:aliceblue;padding-left:10px;padding-bottom: 10px;">&#xf07a;</i><span class='badge badge-warning'
      id='lblCartCount'> <span id='cart'>0</span> </span>
  </a>
</li>
{% endblock %}
{% block alert %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: 0px;">
  <strong>COVID19 UPDATE!</strong><span style="font-size: 15px;"> We deliver products with all safety
    measures.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock %}