{% extends 'shop/basic.html' %}

{% block title %}About US{% endblock %}
{% block Css %}
a {
text-decoration:none;
color:#262626;
font-weight:500;
}
{% endblock %}
{% block currentuser %}
    <div style="color:aliceblue;margin-right:10px">{{currentuser}}</div>
{% endblock %}
{% block body %}
<div class="container">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb" style="margin-top:10px; margin-bottom:0px; padding-left:3px">
            <li class="breadcrumb-item" aria-current="page"><a
                    style="text-decoration: none;color:#262626;font-weight:500" href="/shop">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a
                    style="text-decoration: none;color:#262626;font-weight:500" href="/shop">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:#262626;">{{product.category}}</li>
            <li class="breadcrumb-item active" aria-current="page" style="color:#262626">{{product.subcategory}}</li>
            <li class="breadcrumb-item active" aria-current="page" style="color:#262626">{{product.brand}}</li>
        </ol>
    </nav>
    <h3 id="namepr{{product.id}}" style="padding-left:450px;margin-bottom:0px">{{product.product_name}}</h3>
    <span style=" width:515px;display:flexbox;float:right;margin-top: 40px;margin-right: 150px; word-wrap:break-word">{{product.desc}}
        {% if product.discount == 0 %}
        <div style="margin-top: 10px;color:#262626;font-weight:600">M.R.P :&#8377;<span id="pricepr{{product.id}}">{{product.price}}</span></div>
        {% if product.stock > 0 %}
        <button id="pr{{product.id}}" class="btn btn-primary cart" style="font-size: 15px;padding-left:5px;padding-right:5px;padding-bottom:4px;padding-top:4px;margin-top:10px">Add to cart</button>
        <button id="pr{{product.id}}" class="btn btn-primary cartremove" style="font-size: 15px;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top: 4px;margin-top:10px;margin-left:10px">Remove</button>
        <form action="../checkout" method="GET">
        <button id="" class="btn btn-primary" value="" name="buynow" style="font-size: 15px;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top: 4px;margin-top:10px;display:inline">Buy Now</button>
        </form>
        <div style="color:green;margin-top:5px">In Stock : </div>
        {% else %}
        <div style="color: crimson;margin-top:5px">Out of Stock</div>
        {% endif %}
        {% else %}
        <div style="margin-top: 10px;color: crimson;font-weight:600">Special Offer {{product.discount}} % off</div>
        <div style="color:#262626;font-weight:600;margin-bottom: 10px;">M.R.P :<strike style="color: #262626;">&#8377;{{product.price}}</strike> <span style="color: crimson;"> <span id="pricepr{{product.id}}">{{disprice}}</span></span></div>
        {% if product.stock > 0 %}
        <button id="pr{{product.id}}" class="btn btn-primary cartprod" style="font-size: 15px;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top: 4px; display:inline">Add to cart</button>
        <button id="pr{{product.id}}" class="btn btn-primary cartremove" style="font-size: 15px;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top: 4px;margin-top:0px;margin-left:10px">Remove</button>
        <form action="../checkout" method="GET">
        <button id="" class="btn btn-primary" value="" name="buynow" style="font-size: 15px;padding-left: 5px;padding-right: 5px;padding-bottom: 4px;padding-top: 4px;margin-top:10px;display:inline">Buy Now</button>
        </form>
        <div style="color:green;margin-top:5px">In Stock <span style="color: crimson;" id ="stockavailable"></span></div>
        {% else %}
        <div style="color: crimson;margin-top:5px">Out of Stock</div>
        {% endif %}
        {% endif %}
        <div style="font-size: 15px;">(Inclusive all taxes)</div>
        <span style="color:#262626;font-weight:600">Quantity : <span id='cartremove'>0</span></span>
    </span>
    <img src="/media/{{product.image}}" alt="..." width="360px" height="240px">
</div>

{% endblock %}
{% block sidenavbar %}
<div id="mySidenav" class="sidenav" style="padding-top: 23px;">
    <i class="far fa-user-circle"
        style="font-size:24px;float:left;padding-top: 4px;margin-left: 28px;font-weight:600;font-size:25px;margin-right:10px"
        aria-hidden="true"></i>
    <a href="../signin" style="padding-left:15px;padding-top: 2px;font-weight:600;font-size:20px">Hi!, {{currentuser|truncatewords:1}}</a>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="padding-left: 0px;margin-left: 0px;">×</a>
    <a href="../myorders" style="padding-right: 100px;padding-top:20px;">My Orders</a>
    <a href="../mycart">My Cart</a>
    <a href="../checkout">Checkout</a>
    <a href="" class="cart" onclick="clearcart()" >Clear Cart</a>
    <a href="../sale">Sale</a>
    <a href="../contactus">Contact Us</a>
    <a href="../about">About Us</a>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
{% endblock %}
{% block cart_count %}
<li class="nav-item">
  <a href="/shop/mycart" class="nav-link" aria-disabled="true"><i class="fa"
      style="font-size:24px;color:aliceblue;padding-left:10px;">&#xf07a;</i><span class='badge badge-warning'
      id='lblCartCount'> <span id='cart'>0</span> </span>
  </a>
</li>
{% endblock %}
{% block alert %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: 0px;">
  <strong>COVID19 UPDATE!</strong><span style="font-size: 15px;"> We deliver products with all safety
    measures.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock %}